@CHARSET "UTF-8";

.clsBannerScreen {
	margin-top: 50px;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 1300px;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    clear: both;
}
 
.clsBannerScreen .images {
    position: absolute;
    display: none;
}
 
#news{
	margin-top: 50px;
}

#toys td{
	border-radius: 25px;
}
 
